.body{
    background-color: #050608;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 25px;
}
small{
    color: #aaaec9;
    text-align: left;
    font-size: 15px;
}
p{
    margin-top: 20px;
    color: white;
}
.spanLogin{
    color: #6958e4;
}

.form-group{
    width: 350px;
    margin-top: 50px;
    border-radius: 10px;
    
    box-shadow: 0.5px 0.5px 0.3em white;
    background-color: #202328;
}

span